.user-page__container {
  background-color: $ui-01;
}

.user-page {
  margin-left: $layout-01;
  margin-right: $layout-01;
  background-color: $ui-background;
  padding-right: $layout-01;
  //border-left: 1px solid $ui-03;
  //border-right: 1px solid $ui-03;
}

.user-page__banner {
  padding-top: $spacing-04;
  padding-bottom: $spacing-04;
  //background-color: $ui-01;
}

.user-page__heading {
  margin-top: $layout-02;
  margin-bottom: $layout-02;
  //background-color: $ui-01;
  @include carbon--type-style('productive-heading-04');
}

.user-page__border {
  background-color: $ui-03;
  height: 1px;
  margin-left: -$layout-04;
  margin-right: -$layout-03;
}

.user-page__content {
  margin-bottom: -$layout-03;
}

.user-page__form {
  margin-top: $layout-02;
  margin-bottom: $layout-04;
  margin-left: -$layout-01;
}

.user-page__form-text {
  //background-color: $ui-background;
  margin-bottom: $layout-02;
}

.bx--label {
  //background-color: $ui-01;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: $spacing-03;
}

.bx--fieldset {
  margin-bottom: $spacing-07;
}

.bx--checkbox-label {
  margin-top: $spacing-02;
  //background-color: pink;
}

#user-page__cancel {
  margin-right: $spacing-03;
}
